/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.form {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-04;
  &.showLogs {
    max-block-size: 100%;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
  :global(.cds--form-item:last-child .cds--radio-button-group) {
    padding-block-end: $spacing-02;
  }
}

.subheading {
  @include type-style(heading-03);
}

.loading {
  flex-shrink: 0;
  min-block-size: rem(24px);
}

.logs {
  max-block-size: rem(256px);
  overflow-y: auto;
}
