/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.description {
  @include line-clamp(4);
  font-size: rem(14px);
  line-height: math.div(18, 14);
}

.addModal {
  &:global(.cds--modal) {
    background-color: transparent;
  }
}

.variant-default {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding-inline: $spacing-05;
  padding-block: $spacing-05 $spacing-06;

  .heading {
    @include line-clamp(2);
    font-size: rem(18px);
    line-height: math.div(24, 18);
    font-weight: 600;
  }

  .tag {
    margin-block-start: $spacing-04;
  }
}

.variant-inline {
  padding-block: $spacing-04 $spacing-05;
  padding-inline: $spacing-04;
  gap: $spacing-03;

  .heading {
    font-size: rem(16px);
  }
  .description {
    @include type-style(label-01);
  }
}
