/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  inline-size: 100%;
  display: flex;
  justify-content: flex-start;

  &.centered {
    justify-content: center;
  }
}

.notification {
  margin-block-end: $spacing-05;
}

.infoBox {
  margin-block: $spacing-04;
}

.attemptedUsername {
  display: flex;
  flex-direction: column;
  gap: $spacing-04;
  margin-block-end: $spacing-05;
}

.restartLoginButton {
  display: flex;
  gap: $spacing-03;
}
