/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.button {
  &:global(.cds--btn) {
    @include reset-focus();
    justify-content: flex-start;
    align-items: center;
    column-gap: $spacing-04;
    inline-size: 100%;
    padding-inline: ($spacing-03 - rem(1px));
    &:focus-visible {
      border-radius: $border-radius;
    }
    &.isActive {
      background-color: $layer-02;
    }
  }
}

.icon {
  flex-shrink: 0;
}

.label {
  @include line-clamp();
}
