# check

["beeai-web:check"]
depends = ["beeai-web:check:*"]

["beeai-web:check:prettier"]
extends = "node:check:prettier"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/beeai-web"

["beeai-web:check:eslint"]
extends = "node:check:eslint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/beeai-web"

["beeai-web:check:tsc"]
extends = "node:check:tsc"
depends = ["common:setup:pnpm", "agentstack-sdk-ts:build"]
dir = "{{config_root}}/apps/beeai-web"
run = "pnpm tsc --noEmit -p tsconfig.json"

["beeai-web:check:stylelint"]
extends = "node:check:stylelint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/beeai-web"

["beeai-web:check:hadolint"]
extends = "docker:check:hadolint"
dir = "{{config_root}}/apps/beeai-web"

# fix

["beeai-web:fix"]
depends = ["beeai-web:fix:*"]

["beeai-web:fix:prettier"]
extends = "node:fix:prettier"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/beeai-web"

["beeai-web:fix:next"]
extends = "node:fix:eslint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/beeai-web"

["beeai-web:fix:stylelint"]
extends = "node:fix:stylelint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/beeai-web"
run = "pnpm stylelint --fix=lax \"src/**/*.css\" \"src/**/*.scss\""

# run

["beeai-web:run"]
depends = ["beeai-web:build:nextjs"]
env.NODE_OPTIONS = "--no-experimental-global-navigator"
dir = "{{config_root}}/apps/beeai-web"
run = "pnpm next start"

["beeai-web:run:dev"]
depends = ["common:setup:pnpm"]
env.NODE_OPTIONS = "--no-experimental-global-navigator"
dir = "{{config_root}}/apps/beeai-web"
# Turbopack doesn't support MDX with custom remark/rehype plugins (functions aren't serializable)
run = "pnpm next dev --webpack"

# build

["beeai-web:build"]
depends = ["beeai-web:build:*"]
dir = "{{config_root}}"
run = "docker build -t ghcr.io/i-am-bee/agentstack/beeai-web:local -f ./apps/beeai-web/Dockerfile --load ."

["beeai-web:build:nextjs"]
depends = ["common:setup:pnpm", "agentstack-sdk-ts:build"]
dir = "{{config_root}}/apps/beeai-web"
env.NODE_OPTIONS = "--no-experimental-global-navigator"
# Turbopack doesn't support MDX with custom remark/rehype plugins (functions aren't serializable)
run = "pnpm next build --webpack"
sources = ["*.json", "*.js", "*.mjs", "*.ts", "public/**/*", "src/**/*"]
outputs = { auto = true }
