*

!/agents/
!/apps/
!/docs/
!/examples/
!/helm/
!/mise.toml
!/mise.lock
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/pyproject.toml
!/uv.lock

# Python
.ruff-cache
.venv

# Docker
Dockerfile
.dockerignore

# Node
node_modules

# Misc
dist
