[tools]
# runtime
"asdf:CrouchingMuppet/asdf-lima" = "1.2.1" # using lima from asdf since the aqua one fails to install in CI

# Python
uv = "0.9.5"

# Node.js
nodejs = "22"
pnpm = "10.15.1"

# Java & Maven
java = "21"
maven = "3.9.12"

# Kubernetes
helm = "latest"
kubeconform = "latest"
"github:telepresenceio/telepresence" = "latest"

# misc
yq = "latest"
"pipx:toml-cli" = "latest"
fd = "latest"
"github:google/addlicense" = "latest"
gum = "latest"

[settings]
experimental = true # for python.uv_venv_auto
python.uv_venv_auto = true
raw = true
node.gpg_verify = false # tends to randomly fail; sha is checked by lockfile
task.disable_spec_from_run_scripts = true # opt-in to new task behavior

[hooks]
postinstall = [
    "{{ mise_bin }} setup",

    # npm 11.5+ is needed for trusted publishing
    # we can safely remove this after we migrate to node >= 24.5

    "npm install -g npm@11.6.3"
]

[env]
UV_PYTHON_PREFERENCE = "only-managed"

[task_config]
includes = [
    "./tasks.toml",
    "helm/tasks.toml",
    "apps/agentstack-cli/tasks.toml",
    "apps/agentstack-sdk-py/tasks.toml",
    "apps/agentstack-server/tasks.toml",
    "apps/agentstack-ui/tasks.toml",
    "apps/keycloak-theme/tasks.toml",
    "apps/beeai-web/tasks.toml",
    "apps/agentstack-sdk-ts/tasks.toml",
    "apps/supergateway/tasks.toml",
    "docs/tasks.toml",
]
