/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  column-gap: $spacing-07;
  row-gap: $spacing-08;

  li {
    display: flex;
    flex-direction: column;
    gap: $spacing-04;

    svg {
      block-size: rem(40px);
      inline-size: rem(40px);
      path {
        fill: currentColor;
      }
    }
    span {
      font-size: rem(20px);
      line-height: math.div(26, 20);
      text-wrap: pretty;
    }
  }
}

@include breakpoint-down(md) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
