/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: rem(40px);
    line-height: math.div(48, 40);
    font-weight: 600;
  }

  p {
    font-size: rem(20px);
    margin-block-start: $spacing-05;
    max-inline-size: rem(380px);
  }

  :global(.cds--btn) {
    inline-size: rem(208px);
    margin-block-start: $spacing-06;
    font-size: rem(16px);
    padding-block: 0;
    align-items: center;

    svg {
      inline-size: rem(24px);
      block-size: rem(24px);
      margin-block-start: rem(-1px); // vertical position correction
    }
  }
}

.inverse {
  a {
    &,
    &:focus {
      background-color: $background;
      color: $text-primary;
    }
    &:hover {
      background-color: $layer-hover-02;
      color: $text-primary;
    }
  }
}
