/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include scrollbar();
  display: grid;
  block-size: 100dvh;
  grid-template-areas: 'main';
}

.header {
  position: fixed;
  inset-inline: 0;
  display: flex;
  justify-content: flex-end;
  padding-block-start: $spacing-04;
  padding-inline-end: $spacing-04;
}

.main {
  grid-area: 'main';
  display: grid;
}

.content {
  padding-block-start: rem(64px);
  padding-block-end: $spacing-08;
  inline-size: 100%;
  display: flex;
  row-gap: $spacing-06;
  justify-content: flex-start;
  align-items: center;
  min-block-size: 100vh;
}

@include breakpoint-up(lg) {
  .root {
    --cds-grid-margin: #{rem(64px)};
  }
}
