/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-03;
}

.option {
  &:global(.cds--tag) {
    border-color: $layer-02;
    background-color: $layer-02;
    color: $text-primary;
    &:hover {
      border-color: $layer-hover-02;
      background-color: $layer-hover-02;
    }
    &.isSelected {
      border-color: $text-primary;
      background-color: $text-primary;
      color: $text-inverse;
    }
  }
}
