# build 

["keycloak-theme:build"]
depends = ["keycloak-theme:build:*"]
dir = "{{config_root}}/apps/keycloak-theme"
sources = ["src/**/*", "public/*", "dist_keycloak/*", "vite.config.ts"]
run = "docker build -t ghcr.io/i-am-bee/agentstack/keycloak-themed:local ."

["keycloak-theme:build:jar"]
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
sources = ["src/**/*", "public/*", "dist_keycloak/*", "vite.config.ts"]
run = "npm run build && npx keycloakify build"

# run

["keycloak-theme:run"]
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
run = "npx keycloakify start-keycloak -p ./"

# keycloak dev

["keycloak-theme:eject-page"]
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
run = "npx keycloakify eject-page"

["keycloak-theme:add-story"]
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
run = "npx keycloakify add-story"

["keycloak-theme:storybook"]
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
run = "npx storybook dev -p 6006"

# check

["keycloak-theme:check"]
depends = ["keycloak-theme:check:*"]

["keycloak-theme:check:prettier"]
extends = "node:check:prettier"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"

["keycloak-theme:check:eslint"]
extends = "node:check:eslint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
run = "pnpm eslint ./src"

["keycloak-theme:check:tsc"]
extends = "node:check:tsc"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"

["keycloak-theme:check:stylelint"]
extends = "node:check:stylelint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"

["keycloak-theme:check:hadolint"]
extends = "docker:check:hadolint"
dir = "{{config_root}}/apps/keycloak-theme"

# fix

["keycloak-theme:fix"]
depends = ["keycloak-theme:fix:*"]

["keycloak-theme:fix:prettier"]
extends = "node:fix:prettier"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"

["keycloak-theme:fix:eslint"]
extends = "node:fix:eslint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
run = "pnpm eslint ./src --fix"

["keycloak-theme:fix:stylelint"]
extends = "node:fix:stylelint"
depends = ["common:setup:pnpm"]
dir = "{{config_root}}/apps/keycloak-theme"
