# setup

["agentstack-sdk-py:setup"]
extends = "python:setup"
dir = "{{config_root}}/apps/agentstack-sdk-py"

# check

["agentstack-sdk-py:check"]
depends = ["agentstack-sdk-py:check:*"]

["agentstack-sdk-py:check:ruff-check"]
extends = "python:check:ruff"
depends = ["agentstack-sdk-py:setup"]
dir = "{{config_root}}/apps/agentstack-sdk-py"

["agentstack-sdk-py:check:ruff-format"]
extends = "python:check:ruff-format"
depends = ["agentstack-sdk-py:setup"]
dir = "{{config_root}}/apps/agentstack-sdk-py"

["agentstack-sdk-py:check:pyrefly"]
extends = "python:check:pyrefly"
dir = "{{config_root}}/apps/agentstack-sdk-py"

["agentstack-sdk-py:check:pytest-marks"]
extends = "python:check:pytest-marks"
depends = ["agentstack-sdk-py:setup"]
dir = "{{config_root}}/apps/agentstack-sdk-py"

# fix

["agentstack-sdk-py:fix"]
depends = ["agentstack-sdk-py:fix:*"]

["agentstack-sdk-py:fix:ruff-check"]
extends = "python:fix:ruff"
depends = ["agentstack-sdk-py:setup"]
dir = "{{config_root}}/apps/agentstack-sdk-py"

["agentstack-sdk-py:fix:ruff-format"]
extends = "python:fix:ruff-format"
depends = ["agentstack-sdk-py:setup"]
dir = "{{config_root}}/apps/agentstack-sdk-py"

# test

["agentstack-sdk-py:test-all"]
depends = ["agentstack-sdk-py:setup"]
dir = "{{config_root}}/apps/agentstack-sdk-py"
usage = 'flag "--python <python>" default="3.14"'
run = """
#!/bin/bash
uv run --python="${usage_python?}" pytest
"""

# build

["agentstack-sdk-py:build"]
depends = ["agentstack-sdk-py:setup"]
dir = "{{config_root}}/apps/agentstack-sdk-py"
sources = ["pyproject.toml", "uv.lock", "src/**/*.py"]
outputs = ["dist/*"]
run = "rm ./dist/* 2>/dev/null || true; uv build --out-dir dist"