/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  row-gap: $spacing-06;
  margin-block: auto;
  min-block-size: 100%;
  align-items: center;
}
