/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;
  border: 1px solid $border-subtle-00;
  border-radius: $border-radius;
  overflow: hidden;
  &:has(textarea:focus-visible) {
    border-color: $text-dark;
  }
}

.textarea {
  &::after,
  > textarea {
    --padding-top: #{rem(11px)};
    --padding-bottom: #{$spacing-03};
    --padding-inline: #{rem(11px)};
    --border-width: 0px;
    --line-size: #{math.div(24, 16) * rem(16px)};

    @include type-style(body-02);
    border-radius: calc($border-radius - 1px) calc($border-radius - 1px) 0 0;
  }
  > textarea {
    &,
    &:focus-visible {
      outline: none;
    }
  }
}

.actionBar {
  padding: 0 rem(11px) rem(11px);
  display: flex;
  justify-content: space-between;
  column-gap: $spacing-04;
}

.actionBarStart {
  display: flex;
  align-items: center;
  gap: $spacing-03;
}

.submit {
  margin-inline-start: auto;
  block-size: rem(32px);
  display: flex;
  align-items: flex-end;
}
