############# OPTIONAL #############
# Default: 'http://127.0.0.1:8333'
API_URL=

# All feature flags default to false
FEATURE_FLAGS='{"Variables":true,"Providers":true,"ModelProviders":true,"MCPOAuth":true,"MCP":true}'

# Default: 'BeeAI'
APP_NAME=

# Default: undefined
COMPANY_NAME=

# Default: 'http://localhost:3000'
NEXT_PUBLIC_BASE_URL=

# Default: ''
NEXT_PUBLIC_BASE_PATH=

# Default: '/bee.svg'
NEXT_PUBLIC_APP_FAVICON_SVG=

# Custom navigation (header, sidebar) in JSON format
# Schema: ./src/modules/nav/schema.ts
# Default: undefined
NEXT_PUBLIC_NAV_ITEMS=

# Default false
OIDC_ENABLED=
OIDC_PROVIDERS='[{"name": "w3id","id": "w3id","type": "oidc","class": "IBM","client_id": "<your_client_id>","client_secret": "<your_client_secret>","issuer": "your_issuer"}]'
# next-auth random string
NEXTAUTH_SECRET=
NEXTAUTH_URL="http://localhost:8334"