/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

$content-block-padding: $spacing-07;
$new-session-button-height: rem(32px);
$user-message-height: rem(46px);
$messages-row-gap: $spacing-07;
$holder-row-gap: $spacing-06;
$messages-top-padding: $spacing-03;
$input-height: rem(88px);

$zindex-messages: 1;
$zindex-buttons: 2;

.holder {
  inline-size: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  row-gap: $holder-row-gap;
}

.scrollable {
  @include scrollbar();
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.header {
  position: sticky;
  inset-block-start: $spacing-03;
  text-align: end;
  padding-block-end: $spacing-06;
  z-index: $zindex-buttons;
}

.container {
  position: relative;
  flex-grow: 1;
}

.messages {
  display: flex;
  flex-direction: column-reverse;
  row-gap: $messages-row-gap;
  padding-block-start: $messages-top-padding;
  block-size: 100%;
}

.message:first-child {
  min-block-size: calc(
    100vh -
      (
        var(--header-height) + var(--header-border-height) + #{(2 * $content-block-padding) +
          $new-session-button-height + $user-message-height + (2 * $messages-row-gap) + $holder-row-gap +
          $input-height + rem(48px) + $messages-top-padding}
      )
  );
}

.bottom {
  position: relative;
}

.bottomHolder {
  overflow-y: auto;
  scrollbar-gutter: stable;
  padding-block-end: $spacing-07;
  margin-block-end: -$spacing-07;
}

.bottomContainer {
  min-block-size: rem(88px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.toBottomButton {
  filter: drop-shadow($drop-shadow);
  &:global(.cds--tooltip) {
    position: absolute;
    inset-block-end: 100%;
    inset-inline-start: 50%;
    transform: translate(-50%, -$spacing-05);
    z-index: $zindex-messages;
  }
}

@include breakpoint-up(lg) {
  .header {
    margin: 0 #{-$spacing-09} #{-$spacing-07} auto;
    max-inline-size: max-content;
    transform: translateX(100%);
    padding-block-end: 0;
  }

  .message:first-child {
    min-block-size: calc(
      100vh -
        (
          var(--header-height) + var(--header-border-height) + #{2 * $content-block-padding + $user-message-height +
            $messages-row-gap + $holder-row-gap + $input-height}
        )
    );
  }
}
