/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  form {
    display: flex;
    flex-direction: column;
  }

  hr {
    margin-block: $spacing-09;
  }
}

.secrets {
  display: flex;
  flex-direction: column;
  gap: $spacing-05;

  > div {
    display: flex;
    flex-direction: column;
    gap: $spacing-02;

    :global(.cds--label) {
      @include type-style(body-02);
      color: $text-primary;
    }
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
}
.button {
  &:global(.cds--btn--disabled):not(.cds--btn--ghost) {
    &,
    &:hover {
      background-color: $background;
      color: $text-disabled;
      border-color: $border-subtle;
    }
  }
}
