/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  gap: $spacing-02;
  padding-block: $spacing-03 $spacing-04;
  max-inline-size: rem(376px);
}

.header {
  display: flex;
  column-gap: $spacing-02;
  align-items: center;
}

.name {
  @include type-style('heading-02');
  @include line-clamp();
  color: $text-dark;
  flex-grow: 1;
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-02;
  font-size: rem(16px);
  line-height: math.div(24, 16);
}

.viewMore {
  justify-content: flex-start;
  :global(.cds--btn) {
    @include type-style('label-01');
    column-gap: $spacing-02;
    color: $text-secondary;
  }
}
