{{- if .Values.auth.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secret
  labels:
    app: keycloak
    {{- include "agentstack.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- $adminPassword := "" }}
  {{- if .Values.keycloak.auth.adminPassword }}
    {{- $adminPassword = .Values.keycloak.auth.adminPassword }}
  {{- else }}
    {{- $secret := (lookup "v1" "Secret" .Release.Namespace "keycloak-secret") }}
    {{- if and $secret $secret.data }}
      {{- $adminPassword = index $secret.data "admin-password" | b64dec }}
    {{- else }}
      {{- $adminPassword = randAlphaNum 32 }}
    {{- end }}
  {{- end }}
  admin-password: {{ $adminPassword | quote }}
  {{- if .Values.keycloak.persistence.useDedicatedDatabase }}
  # dedicated database
  db-password: {{ .Values.keycloak.persistence.dedicatedDatabaseConfig.password | quote }}
  {{- else }}
  # shared database
  db-password: {{ include "agentstack.databasePassword" . | quote }}
  {{- end }}
{{- end }}
