/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  li {
    display: flex;
    flex-direction: column;
    gap: $spacing-04;
    font-size: rem(20px);
    line-height: math.div(26, 20);
    text-wrap: pretty;
    max-inline-size: rem(369px);

    svg {
      block-size: rem(40px);
      inline-size: rem(40px);
      path {
        fill: currentColor;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
}

@include breakpoint-down(md) {
  .root {
    li span {
      max-inline-size: 100%;
    }
  }
}
