/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

$toc-width: rem(240px);

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-07;
  min-inline-size: 0;
}

.header {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-06;
}

.heading {
  font-size: rem(40px);
  line-height: math.div(64, 54);
  font-weight: 300;
  margin-block-end: 0;
}

.content {
  @include font-family(serif);
  font-size: rem(20px);
  line-height: math.div(32, 20);
  > * + * {
    margin-block-start: $spacing-07;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include font-family(sans);
    + * {
      margin-block-start: $spacing-05;
    }
  }
  h2 {
    @include type-style(heading-04);
  }
  h3 {
    @include type-style(heading-03);
  }
  h4 {
    @include type-style(heading-02);
  }
  h5,
  h6 {
    @include type-style(heading-01);
  }
  p,
  ul,
  ol {
    font-size: inherit;
    line-height: inherit;
  }
  ul {
    list-style: disc;
    padding-inline-start: rem(34px);
  }
  ol {
    list-style: decimal;
    padding-inline-start: rem(34px);
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    display: block;
    max-inline-size: 100%;
    block-size: auto;
  }
}

@include breakpoint-up(lg) {
  .root {
    row-gap: $spacing-09;
  }

  .header {
    row-gap: $spacing-07;
  }

  .heading {
    font-size: rem(54px);
    padding-inline-end: $toc-width + $spacing-11;
  }

  .body {
    display: grid;
    column-gap: $spacing-11;
    grid-template-columns: minmax(0, 1fr) $toc-width;
    grid-template-areas: 'content toc';
  }

  .toc {
    grid-area: toc;
  }

  .content {
    grid-area: content;
    > * + * {
      margin-block-start: $spacing-09;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      + * {
        margin-block-start: $spacing-06;
      }
    }
  }
}
