/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  :global(.cds--data-table) {
    table-layout: fixed;

    th {
      &:nth-child(1) {
        inline-size: 40%;
      }
      &:nth-child(2) {
        inline-size: 30%;
      }
      &:nth-child(3) {
        inline-size: 20%;
      }
    }

    &:global(.cds--skeleton) {
      tbody td:last-child > span {
        display: none;
      }
    }
  }
}

.name,
.url {
  @at-root td#{&} {
    overflow-wrap: anywhere;
  }
}
