/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'styles/common' as *;

.cds--date-picker,
.cds--date-picker-container,
.cds--date-picker-input__wrapper,
.cds--date-picker-input__wrapper > span,
.cds--date-picker.cds--date-picker--single .cds--date-picker__input {
  inline-size: 100%;
}

.cds--date-picker__calendar {
  border-radius: $border-radius;

  &.open {
    box-shadow: $box-shadow;
    &:focus {
      outline: 2px solid $background-inverse;
    }
  }

  .flatpickr-prev-month,
  .flatpickr-next-month {
    border-radius: $border-radius;
  }
}

.cds--date-picker__day {
  border-radius: $border-radius;
}
