/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: $spacing-03;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  inline-size: 100%;
  min-inline-size: 100%;
  padding: rem(10px);
  position: relative;
  background-color: $layer-01;
  border: 2px solid transparent;
  color: $text-primary;
  font-weight: 600;

  &:hover,
  &:focus,
  &.active {
    border-color: $text-dark;
    background-color: $background;
    color: $text-primary;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $layer-02;
  color: $text-dark;
  block-size: rem(40px);
  inline-size: rem(40px);
  border-radius: $border-radius;
  position: static;
}

.heading {
  font-size: rem(14px);
  line-height: math.div(20, 14);
  font-weight: 600;
  letter-spacing: $letter-spacing;

  .untitled {
    color: $text-placeholder;
  }
}
