/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.ref {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.dialogHolder {
  z-index: z('modal') - 1;
}

.dialog {
  inline-size: rem(288px);
}

.isVoted {
  &:global(.cds--btn) {
    background-color: $text-dark;
    color: $text-inverse;
  }
}
