/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.toasts {
  @include scrollbar();
  inline-size: 100%;
  block-size: 100%;
  max-inline-size: calc(rem(288px) + (2 * $grid-margin));
  max-block-size: calc(100% - rem(64px));
  display: flex;
  flex-direction: column;
  row-gap: $spacing-03;
  position: fixed;
  inset-block-start: rem(64px);
  inset-inline-end: 0;
  padding-block: $spacing-05;
  padding-inline: $grid-margin calc($grid-margin - var(--scrollbar-width));
  z-index: z('modal') + 1;
  pointer-events: none;

  > * {
    pointer-events: auto;
  }
}

.clearButton {
  display: flex;
  margin-inline-start: auto;
  background-color: $layer;
  border-radius: $border-radius;
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  :global(.cds--btn) {
    box-shadow: $box-shadow;
    padding-inline-end: rem(15px);
    background-color: $layer;
  }
}

@include breakpoint-up(xlg) {
  .toasts {
    --cds-grid-margin: #{$spacing-06};
  }
}
