/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
  :global(.cds--overflow-menu__wrapper) {
    flex-shrink: 0;
  }
}

.button {
  border: 1px solid $border-subtle;
  border-radius: 50%;
}

.menu {
  transform: translate(0, -$spacing-02);
  inline-size: rem(179px);

  :global(.cds--overflow-menu--divider) {
    margin-block-start: calc($spacing-04 + 1px);
    &::before {
      inset-block-start: calc(($spacing-03 + 1px) * -1);
    }
  }
}
