/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: normal;
}

.empty {
  color: $text-disabled;
}
