/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

$panel-width: rem(432px);

.root {
  grid-column: 2 / -1;
  grid-row: 1 / -1;
  position: relative;
  z-index: 1;
  inline-size: $panel-width;
  overflow: hidden;
  transition: inline-size $duration-moderate-02 motion(exit, expressive);

  &:not(.isOpen) {
    inline-size: 0;
    transition-timing-function: motion(entrance, expressive);
  }
}

.content {
  @include scrollbar();
  background-color: $background;
  inline-size: $panel-width;
  block-size: 100%;
  border-inline-start: 1px solid $border-subtle;
  padding: $spacing-05;
  padding-inline-end: calc($spacing-05 - var(--scrollbar-width));
}
