/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

button.button {
  border: 1px solid $border-subtle;

  &.avatar {
    border-radius: 50%;
  }
}

.menu {
  transform: translate(0, -$spacing-02);
}
