/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: normal;
}

.empty {
  color: $text-disabled;
}

.canvasEditRequest {
  display: flex;
  flex-direction: column;
  gap: $spacing-04;
  q {
    font-style: italic;
    quotes: '„' '“' '‚' '‘';
    &::before {
      content: open-quote;
    }
    &::after {
      content: close-quote;
    }
  }
}
