/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-07;
  min-block-size: 100%;
  padding-block-start: $spacing-09;
}

.heading {
  @include type-style(heading-06);
  text-wrap: balance;
  margin-block-end: 0;
}
