/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

$gap: $spacing-05;

.root {
  block-size: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  gap: $gap;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: $gap;
  min-inline-size: 0;
  min-block-size: 0;
}

.nav {
  flex-shrink: 0;
}

.navBody {
  max-block-size: rem(186px);
}

.separator {
  margin: 0 $spacing-05;
  border: 0;
  border-block-start: 1px solid $layer-02;
}

.footer {
  padding-inline: $spacing-05;
}
