{{-  if .Values.ui.enabled  -}}
kind: Secret
apiVersion: v1
metadata:
  name: agentstack-ui-secret
data:
  {{- if .Values.auth.enabled }}
  {{- $authSecret := .Values.auth.nextauthSecret }}
  {{- if (empty $authSecret) }}
    {{- $authSecret = "" }}
  {{- end }}
  {{- $secret := (lookup "v1" "Secret" .Release.Namespace "agentstack-ui-secret") }}
  {{- if and $secret $secret.data (hasKey $secret.data "authSecret") }}
    {{- $authSecret = index $secret.data "authSecret" | b64dec }}
  {{- end }}
  {{- if not $authSecret }}
    {{- $authSecret = randAlphaNum 32 }}
  {{- end }}
  authSecret: {{ $authSecret | b64enc | quote }}
  {{- end }}
  {{- $uiClientSecret := .Values.keycloak.uiClientSecret }}
  {{- $secret := (lookup "v1" "Secret" .Release.Namespace "agentstack-ui-secret") }}
  {{- if and $secret $secret.data (hasKey $secret.data "agentstackUiClientSecret") }}
    {{- $uiClientSecret = index $secret.data "agentstackUiClientSecret" | b64dec }}
  {{- end }}
  {{- if not $uiClientSecret }}
    {{- $uiClientSecret = randAlphaNum 32 }}
  {{- end }}
  agentstackUiClientSecret: {{ $uiClientSecret | b64enc | quote }}
type: Opaque
{{- end}}