/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.content {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-06;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacing-03;
}

.submitButton {
  inline-size: 100%;
  max-inline-size: none;
}

.registration {
  margin-block-start: $spacing-07;
  font-size: rem(16px);

  a {
    margin-inline-start: $spacing-02;
  }
}
