/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include type-style(body-01);
  display: flex;
  align-items: center;
  column-gap: $spacing-03;
  min-inline-size: 0;
}

// TODO: The icon should be added as a future enhancement
// .icon {
//   flex-shrink: 0;
//   inline-size: rem(16px);
//   block-size: rem(16px);
//   font-size: rem(7px);
//   color: $text-inverse;
//   background-color: $layer-inverse;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.name {
  color: $text-secondary;
}
