/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: relative;

  &:not(:last-child) {
    border-block-end: 1px solid $border-subtle;
    padding-block-end: $spacing-07;
  }
}

.link {
  @include link-mask();
  @include type-style(heading-03);
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: $spacing-02;
  &:hover {
    text-decoration: underline;
  }
}
