/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include type-style(label-01);
  background-color: $layer-02;
  padding: $spacing-05;
  border-radius: $border-radius;
  position: relative;

  &.withBorder {
    border: 1px solid $border-subtle-00;
  }
}

.copyButton {
  @include hide-popover();
  position: absolute;
  inset-block-start: $spacing-03;
  inset-inline-end: $spacing-03;
  :global(.cds--btn) {
    &:disabled {
      color: currentColor;
    }

    &:hover {
      --cds-icon-primary: #{$text-inverse};

      background-color: $text-dark;
    }
  }
}

.content {
  pre {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
  }
}
