/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: grid;
  block-size: 100dvh;
  grid-template-columns: var(--sidebar-collapsed-width) 1fr;
  grid-template-areas: 'sidebar main';
}

.sidebar {
  grid-area: sidebar;
  min-block-size: 0;
}

.main {
  grid-area: main;
  min-block-size: 0;
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr;
  align-items: stretch;
  overflow: hidden;
  view-transition-name: main;
}

@include breakpoint-up(rem(912px)) {
  .root {
    grid-template-columns: auto 1fr;
  }
}
