/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: grid;
  block-size: 100dvh;
  grid-template-rows: var(--app-header-height) 1fr max-content;
}

.main {
  overflow: auto;
}
