/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  gap: $spacing-06;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-05;
}

.list {
  padding-inline-start: $spacing-06;
  color: $text-secondary;
  font-size: rem(16px);
  margin-block-end: $spacing-05;
}

.confirmation {
  font-size: rem(20px);
}

.actions {
  display: flex;
  gap: $spacing-05;
  flex-wrap: wrap;
  margin-block-start: $spacing-05;
}
