/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  gap: $spacing-06;

  h1 {
    margin: 0;
  }
}

.image {
  max-inline-size: 100%;
  block-size: auto;
  margin-block-end: $spacing-06;
  fill: currentColor;
}

.message {
  font-size: rem(20px);
}
