/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.content {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-06;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.submitButton {
  inline-size: 100%;
  max-inline-size: none;
}
