/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.content {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.actions {
  display: flex;
  column-gap: $spacing-05;
  margin-block-start: $spacing-03;
}

@include breakpoint-up(md) {
  .root {
    padding-inline: $spacing-08;
  }
}
