/**
 * Copyright 2026 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.content {
  inline-size: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-05;
}

.formOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-start: $spacing-03;
}

.info {
  margin-block: $spacing-05;
  font-size: rem(16px);
  line-height: math.div(20, 16);
  color: $text-secondary;
}
