/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  background-color: $layer-inverse;
  padding-block-start: rem(104px);
  padding-block-end: rem(181px);
  color: $text-inverse;
}

.info {
  grid-column: 3/ -3;
  gap: $spacing-07;
  align-items: center;
}

.graphics {
  --color-1: #{$cool-gray-90};
  --color-2: #{$cool-gray-70};
  --color-3: #{$cool-gray-50};
  --color-4: #{$white};
  --color-5: #{$white};
  --color-6: #{$cool-gray-50};
  --color-7: #{$cool-gray-90};
  --color-8: #{$cool-gray-80};
  --color-9: #{$cool-gray-70};

  :global(.cds--g90) & {
    --color-1: #{$cool-gray-10};
    --color-2: #{$cool-gray-50};
    --color-3: #{$cool-gray-30};
    --color-4: #{$black};
    --color-5: #{$white};
    --color-6: #{$cool-gray-50};
    --color-7: #{$cool-gray-20};
    --color-8: #{$cool-gray-40};
    --color-9: #{$cool-gray-40};
  }

  display: flex;
  inline-size: 130%;

  svg {
    max-inline-size: rem(622px);
  }
}

.features {
  grid-column: 3/ -3;
  margin-block-start: rem(96px);

  li {
    span {
      color: $text-muted-inverse;
    }
    strong {
      color: $text-inverse;
    }
  }
}

@include breakpoint-down(md) {
  .info {
    display: flex;
    flex-direction: column;
    grid-column: 2/ -2;
    gap: $spacing-09;
    align-items: flex-start;
  }
  .features {
    grid-column: 2/ -2;
  }
  .graphics {
    inline-size: 100%;
  }
}
