/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  background-color: $layer-inverse;
  padding-block-start: rem(104px);
  padding-block-end: rem(181px);
  color: $text-inverse;
}

.info {
  grid-column: 3/ -3;
  gap: $spacing-07;
  align-items: center;
}

.graphics {
  display: flex;
  inline-size: 110%;

  svg {
    max-inline-size: rem(481px);
  }
}

.features {
  grid-column: 3/ -3;
  margin-block-start: rem(96px);

  li {
    span {
      color: $text-muted-inverse;
    }
    strong {
      color: $text-inverse;
    }
  }
}

@include breakpoint-down(md) {
  .info {
    display: flex;
    flex-direction: column;
    grid-column: 2/ -2;
    gap: $spacing-09;
    align-items: flex-start;
  }
  .features {
    grid-column: 2/ -2;
  }
}
@include breakpoint-down(sm) {
  .graphics {
    inline-size: 100%;
  }
}
