/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  margin-block-start: rem(103px);
}

.headline {
  display: flex;
  flex-direction: column;
  gap: $spacing-08;

  h1 {
    font-size: rem(80px);
    line-height: math.div(90, 80);
    font-weight: 100;
    margin: 0;
    max-inline-size: rem(860px);
  }
}

.info {
  margin-block-start: rem(105px);
  background-color: $green-10;
  color: $black;
  padding-block: $spacing-08;
}
.infoContent {
  grid-column: 3 / -3;
  p {
    font-size: rem(20px);
    line-height: math.div(28, 20);
    max-inline-size: rem(845px);

    a {
      font-weight: 600;
      color: $black;
    }
  }
}

@include breakpoint-down(md) {
  .infoContent {
    grid-column: 2 / -2;
  }
  .headline h1 {
    font-size: clamp(rem(48px), 13vw, rem(80px));
  }
}
@include breakpoint-down(sm) {
  .root {
    margin-block-start: rem(50px);
  }
}
