/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  padding-block-start: rem(104px);
  padding-block-end: rem(160px);
  background-color: $layer-02;
}

.info {
  align-items: center;
}

.infoLeft {
  max-inline-size: rem(440px);
}

.graphics {
  inline-size: 145%;
  max-inline-size: rem(960px);
  position: relative;
  img {
    inline-size: 100%;
    block-size: auto;
    border-radius: $border-radius;
    box-shadow: 0 rem(1px) rem(4px) $layer-hover-02;
  }
}

.features {
  inline-size: 100%;
  margin-block-start: rem(96px);

  ul {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include breakpoint-down(md) {
  .root {
    padding-block-end: rem(116px);
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .graphics {
    inline-size: 100%;
  }
}
