/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-06;
}

.heading {
  @include type-style(heading-06);
}

.fields {
  display: grid;
  column-gap: $spacing-04;
  row-gap: $spacing-06;
  grid-template-columns: repeat(var(--grid-columns, 1), minmax(0, 1fr));
}

.buttons {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  gap: $spacing-04;
}
