/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  position: sticky;
  inset-block-start: 0;
  background-color: $background;
  border-block-end: 1px solid $border-subtle-00;
  z-index: 100;
}

.content,
.nav {
  display: contents;
}

.logo {
  display: flex;
  block-size: $spacing-09;
  align-items: center;
  font-size: rem(14px);
  line-height: math.div(18, 14);
  color: $text-dark;
  text-decoration: none;
}

.navItems {
  grid-column: 2 / 12;
}

.right {
  grid-column: 12 / -1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

button.toggleMenuBtn {
  display: none;
}

@include breakpoint-down(lg) {
  .nav {
    grid-column: 1 / 15;
    display: flex;
    gap: $spacing-07;
  }

  .right {
    grid-column: 15 / -1;
  }
}

@include breakpoint-down(md) {
  button.toggleMenuBtn {
    display: flex;
  }

  .content {
    grid-column: 1 / 17;
    display: flex;
    justify-content: space-between;
  }

  .navItems {
    display: none;
  }
}
