/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.grid {
  display: grid;
  grid-template-columns: repeat(16, minmax(0, 1fr));
  gap: $spacing-07;
}

.content {
  grid-column: 3 / -3;
}

@include breakpoint-down(lg) {
  .grid {
    gap: 0;
  }
}

@include breakpoint-down(md) {
  .content {
    grid-column: 2 / -2;
  }
}
