/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  @include type-style(body-01);

  > * + * {
    margin-block-start: rem(20px);
  }

  p,
  ol,
  ul,
  blockquote {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
  }

  ul,
  ol {
    padding-inline-start: $spacing-06;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  ol ul {
    list-style: lower-latin;
  }

  ol ul ul {
    list-style: disc;
  }

  ol ul ul ol {
    counter-reset: list;
    padding-inline-start: rem(20px);
    li {
      counter-increment: list;
      &::marker {
        content: '(' counter(list, decimal) ') ';
      }
    }
  }

  h1 {
    @include type-style(heading-04);
    margin-block-end: 0;
  }

  h2 {
    @include type-style(heading-03);
    font-weight: 600;
  }

  h3 {
    font-size: rem(18px);
    line-height: math.div(24, 18);
    font-weight: 600;
  }

  h4 {
    @include type-style(heading-02);
  }

  h5,
  h6 {
    @include type-style(body-01);
    + * {
      margin-block-start: 0;
    }
  }

  hr {
    background: $border-subtle-00;
    block-size: 1px;
    border: none;
  }

  pre {
    white-space: pre-wrap;
  }

  blockquote {
    padding-block: $spacing-03;
    padding-inline-start: $spacing-05;
    border-inline-start: $spacing-01 solid $border-subtle-00;
    color: $text-secondary;
  }

  a {
    overflow-wrap: anywhere;
  }
}
