/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-03;
}

.option {
  &:global(.cds--tag) {
    color: $text-primary;
    border-color: $layer-02;
    background-color: $layer-02;
    &:hover {
      border-color: $layer-hover-02;
      background-color: $layer-hover-02;
    }
    &:disabled {
      cursor: not-allowed;
      color: $text-disabled;
      border-color: $field;
      background-color: $field;
    }
    &:global(.cds--tag--selected) {
      color: $text-inverse;
      border-color: $text-primary;
      background-color: $text-primary;
      &:disabled {
        border-color: $layer-selected-disabled;
        background-color: $layer-selected-disabled;
      }
    }
  }
}
