name: integration-test

permissions:
  contents: read

on:
  workflow_dispatch: { }
  pull_request:
    paths:
      - 'apps/agentstack-server/**'
      - 'apps/agentstack-cli/**'
  push:
    branches:
      - main
    paths:
      - 'apps/agentstack-server/**'
      - 'apps/agentstack-cli/**'
jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: "Set up Lima"
        uses: lima-vm/lima-actions/setup@v1
        id: lima-actions-setup
      - name: "Cache ~/.cache/lima"
        uses: actions/cache@v4
        with:
          path: ~/.cache/lima
          key: lima-${{ steps.lima-actions-setup.outputs.version }}
      - uses: ./.github/actions/setup
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: mise run agentstack-server:test:integration
        env:
          LLM_API_BASE: "${{ secrets.OPENAI_API_BASE }}"
          LLM_MODEL: "${{ secrets.OPENAI_MODEL }}"
          LLM_API_KEY: "${{ secrets.OPENAI_API_KEY }}"
          # LLM_API_BASE: "https://api.groq.com/openai/v1"
          # LLM_MODEL: "groq:meta-llama/llama-4-maverick-17b-128e-instruct"
          # LLM_API_KEY: "${{ secrets.GROQ_API_KEY }}"
