name: agentstack-sdk-py-test

permissions:
  contents: read

on:
  workflow_dispatch: { }
  pull_request:
    paths:
      - 'apps/agentstack-sdk-py/**'
  push:
    branches:
      - main
    paths:
      - 'apps/agentstack-sdk-py/**'
jobs:
  agentstack-sdk-py-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python:
          - "3.11"
          - "3.14"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: "Set up Lima"
        uses: lima-vm/lima-actions/setup@55627e31b78637bf254a8b2a14da8ea7d12564e5 # v1
        id: lima-actions-setup
      - name: "Cache ~/.cache/lima"
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5
        with:
          path: ~/.cache/lima
          key: lima-${{ steps.lima-actions-setup.outputs.version }}
      - uses: ./.github/actions/setup
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: mise run agentstack-sdk-py:test-all --python=${{ matrix.python }}
      - run: uv cache prune --ci
